.menu-footer {

  .footer {

    @media only screen and (min-width: 770px) {
      @media (min-height: 580px) {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }


    &.segment {
      padding: 5em 0em;
    }
  }
}